/* .App{
      text-align: center
      ;
  } */

h1 {
  font-family: "Great Vibes", cursive;
}
.nav {
  background: #fdb433;
  /* margin-top: -21px; */
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.inp {
  width: 500px;
  margin-top: 10px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  font-size:17px;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 2px;
}
.main {
  background-image: url("./Components/back.jpg");
  height: 170vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.inpbox {
  display: flex;
  justify-content: center;
}
.content {
  margin: 3px;
  font-family: "Lobster Two", cursive;
}
.inpcontent:hover{
    background: #80808094;
}
.inpcontent {
  border-bottom: 1px solid black;
}
.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: -0.125em;
    text-align: center;
    text-transform: none;
    line-height: 0;
    margin-top: 121px;
    font-size: 30px;
    color: black;
    margin-left: -45px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}